# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


#remove all file that firebase will generate
firebase.json
firebase-debug.log
firebase-debug.log.json
firebase-debug.log.json.1
firebase-debug.log.json.2
firebase-debug.log.json.3
firebase-debug.log.json.4
firebase-debug.log.json.5
firebase-debug.log.json.6
FirebaseConfig.jsx
```